<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :role_ids, "Roles" %>
    <%= form.collection_check_boxes :role_ids, @roles, :id, :name do |b| %>
      <div style="display: inline; padding: 10px;">
        <%= b.check_box %> <%= b.text %>
      </div>
    <% end %>
  </div>

  <div class="action-container edit-actions">
    <%= form.button "Update", type: :update, class: "btn btn--primary" %>
    <%= link_to "Cancel", users_path, :class => "btn btn--primary-alt" %>
  </div>
<% end %>
