<div id="<%= dom_id user %>">
  <p>
    <strong>Email</strong>
    <%= user.email %>
  </p>
  <p>
    <strong>First Name</strong>
    <%= user.first_name %>
  </p>
  <p>
    <strong>Last Name</strong>
    <%= user.last_name %>
  </p>
  <p>
    <strong>UID</strong>
    <%= user.uid %>
  </p>
  <p>
    <strong>Provider</strong>
    <%= user.provider %>
  </p>
</div>