<div id="<%= dom_id user %>">
  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>
  <p>
    <strong>First Name:</strong>
    <%= user.first_name %>
  </p>
  <p>
    <strong>Last Name:</strong>
    <%= user.last_name %>
  </p>
  <p>
    <strong>Role(s):</strong>
    <tr>
    <% user.roles.each do |r| %>
      <td><%= r.name %></td>
    <% end %>
    </tr>

  </p>
</div>