<div class="table-area">
  <div class="above-table">
    <h2>Users</h2>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th>Email</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Role</th>
      <th>UID</th>
      <th>Provider</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.roles.map { |r| %Q(#{r.name})}.join(", ") %></td>
        <td><%= user.uid %></td>
        <td><%= user.provider %></td>
        <td>
          <div class="action-container">
            <%= link_to "", edit_user_path(user.id), :class => "bi bi-pencil" %>
            <%= link_to "", user_path(user),
                        data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                        class: "bi bi-trash" %>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>