<p style="color: green"><%= notice %></p>

<div id="user-details">
  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= user.last_name %>
  </p>
</div>
<div>
  <%= link_to "Cancel", users_path %>
  <%= button_to "Remove user", @user, method: :delete %>
</div>