<div class="block">
  <h3>Block <%= block.id || index + 1 %></h3>
  <ul>
    <% block.courses.each do |course| %>
      <li>
        <strong><%= course.sec_name %></strong><br>
<<<<<<< HEAD
        <%= course.days %>
=======
        <%= course.days %> 
>>>>>>> origin/Blockgen-Re
        <%= course.start_time.strftime("%I:%M %p") %>-<%= course.end_time.strftime("%I:%M %p") %>
      </li>
    <% end %>
  </ul>
</div> 