<p style="color: green"><%= notice %></p>

<%= render @role %>

<div>
  <%= link_to "Edit this role", edit_course_path(@course) %> |
  <%= link_to "Back to roles", courses_path %>

  <%= button_to "Destroy this role", @role, method: :delete %>
</div>
