<div id="<%= dom_id course %>">
  <p>
    <strong>Term:</strong>
    <%= course.term %>
  </p>

  <p>
    <strong>Dept code:</strong>
    <%= course.dept_code %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= course.course_id %>
  </p>

  <p>
    <strong>Sec coreq secs:</strong>
    <%= course.sec_coreq_secs %>
  </p>

  <p>
    <strong>Syn:</strong>
    <%= course.syn %>
  </p>

  <p>
    <strong>Sec name:</strong>
    <%= course.sec_name %>
  </p>

  <p>
    <strong>Short title:</strong>
    <%= course.short_title %>
  </p>

  <p>
    <strong>Im:</strong>
    <%= course.im %>
  </p>

  <p>
    <strong>Building:</strong>
    <%= course.building %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= course.room %>
  </p>

  <p>
    <strong>Days:</strong>
    <%= course.days %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= course.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= course.end_time %>
  </p>

  <p>
    <strong>Fac:</strong>
    <%= course.fac_id %>
  </p>

  <p>
    <strong>Faculty name:</strong>
    <%= course.faculty_name %>
  </p>

  <p>
    <strong>Crs capacity:</strong>
    <%= course.crs_capacity %>
  </p>

  <p>
    <strong>Sec cap:</strong>
    <%= course.sec_cap %>
  </p>

  <p>
    <strong>Student count:</strong>
    <%= course.student_count %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= course.notes %>
  </p>

</div>
