<h1>COURSES</h1>

<%= link_to "New Course", new_course_path, class: "new-course-button" %>

<table>
  <thead>
    <tr>
      <th>Term</th>
      <th>Department</th>
      <th>Section Name</th>
      <th>Title</th>
      <th>Days</th>
      <th>Time</th>
      <th>Building</th>
      <th>Room</th>
      <th>Capacity</th>
      <th>Prerequisites</th>
      <th>Corequisites</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.term %></td>
        <td><%= course.dept_code %></td>
        <td><%= course.sec_name %></td>
        <td><%= course.short_title %></td>
        <td><%= course.days %></td>
        <td><%= "#{course.start_time.strftime("%I:%M %p")} - #{course.end_time.strftime("%I:%M %p")}" %></td>
        <td><%= course.building %></td>
        <td><%= course.room %></td>
        <td><%= course.crs_capacity %></td>
        <td><%= course.prerequisites %></td>
        <td><%= course.corequisites %></td>
        <td>
          <%= link_to "", edit_course_path(course), class: "bi bi-pencil" %>
          <%= link_to "", course_path(course),
              data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
              class: "bi bi-trash" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>