<!-- This file is app/views/courses/show_by_upload.html.erb -->
<% if @courses.nil? || @courses.count == 0 %>
  <h3>No courses found</h3>
  <p>Try going back, deleting the excel file from the list, and upload a new file.</p>
  <%= link_to "Back", excel_files_path, :class => "btn btn--primary"%>
<% else %>
  <h2>Courses for term: <%= @courses.last[:term] || "" %></h2>

  <table class="table">
    <thead>
    <tr>
      <th>Term</th>
      <th>Course</th>
      <th>Days</th>
      <th>Start</th>
      <th>End</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course[:term] %></td>
        <td><%= course[:sec_name] %></td>
        <td><%= course[:days] %></td>
        <td><%= course[:start_time].strftime("%I:%M %p") %></td>
        <td><%= course[:end_time].strftime("%I:%M %p") %></td>
        <td>
          <div class="action-group">
            <%= link_to "", edit_course_path(course), class: "bi bi-pencil" %>
            <%= link_to "", course_path(course), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                class: "bi bi-trash"%>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>