<section class="section-wrap">
  <div class="linked-card-group">
    <div class="section-intro">
      <div class="section-intro__container">
        <div class="section-intro__content">
          <div class="heading-group">
            <h1>Howdy, <%= current_user.first_name %>!</h1>
          </div>
          <p class="section-intro__description">
          </p>
        </div>

        <!--        <div class="section-intro__cta">-->
        <%#= link_to %>
        <!--        </div>-->
      </div>
    </div>
    <% if @current_user.admin? %>

      <div class="slab-group" style="display: flex; width: 100%;">
        <div class="slab-option">
          <div class="slab-heading" style="padding: 10px;">
            <div class="heading-group">
              <h2>Available Classes</h2>
            </div>
            <span class="divider-hash gray-300 divider--mini"></span>
            <%= link_to "Show", courses_path, class: "btn btn--primary" %>
          </div>
        </div>

        <div class="slab-option">
          <div class="slab-heading" style="padding: 10px;">
            <div class="heading-group">
              <h2>View Students</h2>
            </div>
            <span class="divider-hash gray-300 divider--mini"></span>
            <%= link_to "Show", users_path, class: "btn btn--primary" %>
          </div>
        </div>

        <div class="slab-option">
          <div class="slab-heading" style="padding: 10px;">
            <div class="heading-group">
              <h2>Upload Spreadsheet</h2>
            </div>
            <span class="divider-hash gray-300 divider--mini"></span>
            <%= link_to "Show", new_excel_file_path, class: "btn btn--primary" %>
          </div>
        </div>

        <div class="slab-option">
          <div class="slab-heading" style="padding: 10px;">
            <div class="heading-group">
              <h2>My Profile</h2>
            </div>
            <span class="divider-hash gray-300 divider--mini"></span>
            <%= link_to "Show", users_path, class: "btn btn--primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
