<!DOCTYPE html>
<html>
  <head>
<head>
    <title><%= content_for(:title) || "Ea Block Scheduling" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
</head>

  <body>

    <header>
  <%= image_tag 'TAMU Logo Header.png', alt: 'Header Image', class: 'header-image' %>

  <!-- Back to Dashboard Button -->
<div class="header-navigation">
  <% if current_user %>
    <% dashboard_path = current_user.admin? ? admin_dashboard_path : students_dashboard_path %>
    <%= link_to "Back to Dashboard", dashboard_path, class: 'dashboard-button' %>
  <% end %>
</div>


  <!-- Logout Link -->
  <div class="header-logout">
    <%= link_to "Logout", logout_session_path, method: :get, class: 'logout-link' %>
  </div>
</header>


    <%= render partial: 'shared/display_flash' if not flash.empty? %>
    <%= yield %>
  </body>

    <!-- Maroon line at the bottom -->

    <!-- Footer -->
    <footer>
        <%= image_tag 'TAMU Logo Footer.png', alt: 'Footer Image', class: 'footer-image' %>
    </footer>
</body>
</html>