<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= content_for(:title) || "Ea Block Scheduling" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" type="image/png" href="../assets/">
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <link rel="icon" href="/TAM-MaroonBox.png" sizes="64x64">
  <link rel="stylesheet" href="https://aux.tamu.edu/@latest/styles/aux-styles.css">
  <link rel="stylesheet" href="https://aux.tamu.edu/@latest/styles/aux-styles.min.css">
  <%= javascript_importmap_tags %>
</head>

<body>
<%= render 'layouts/navbar' %>
<%= render partial: 'shared/display_flash' unless flash.empty? %>

<%= yield %>

<script src="https://aux.tamu.edu/@latest/js/aux-accordion.js"></script>
<script src="https://aux.tamu.edu/@latest/js/aux-in-page-navigation.js"></script>
<script src="https://aux.tamu.edu/@latest/js/aux-main-nav.js"></script>
<!-- <script src="https://aux.tamu.edu/@latest/js/aux-mobile-nav.js"></script>  -->
<script src="https://aux.tamu.edu/@latest/js/jquery-3.7.1.min.js"></script>

</body>
<%= render 'layouts/footer' %>
</html>